@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@300&family=Tinos&display=swap');

@media screen and (min-width: 768px) and (min-width: 360px), (max-width: 1280px) {
   #ccbanner {
       position: fixed;}
   .images {
       margin: fixed;}
   body {
       margin: auto;}
}

body {
  font-family: Lora;
  font-size: 18px;
  color: black;
  text-align: center;
}

h1 {
  margin: 0;
  background-color: #B0E0E6;
  font-family: Tinos, serif;
  color: black;
  font-size: 2.8em;
  text-align: center;}

h2 {
  background-color: #B0E0E6;
  font-family: Tinos, serif;
  font-size: 2.0em;
  color: black;
  text-align: center;}

#ccbanner {
  padding-top: 15px;
  left: 10px;
  padding: 10px 16px;  
}

/* This gallery is credit to Justine Evans @UM Media Arts and iGadget: https://codepen.io/iGadget
and when it works- it looks great. See the Pen: ttps://codepen.io/iGadget/pen/jOEQKNN */

#gallery-container {
  margin: 200px auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /*background-color: #bdd8f1;*/
}

.images {
  display: grid;
  grid-template-columns: repeat(19, 5vw);
  grid-template-rows: 20vh;
  transition: all 0.3s ease(gravity);
  background-color: #82a6cb;
  border-radius: 10px;
  padding: 0.25em;
  cursor: zoom-in;
}

.images:hover {
    display: flex;
    flex-grow: 0;
  }

  .images:active {
    display: flex;
    flex-grow: 2;
  }

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: all 0.15s ease(downhill);
  position: relative;
  box-shadow: 0 0 0 #000 0;
  /*opacity: 0.67;*/
  /*filter: sepia(80%) hue-rotate(180deg);*/
}

img:first-child {
  border-radius: 10px 0 0 10px;
}

img:last-child {
  border-radius: 0 10px 10px 0;
}

#gallery-container img:hover {;
  width: 10%;
  height: 10%;
  left: 1%;
  top: -50%;
}

#gallery-container  img:first-child:hover {
  left: 1%;
}
#gallery-container  img:last-child:hover {
  left: 1%;
}